#genstartKnap {
  background-color: #a53d3da5; /* Grøn baggrundsfarve */
  border: none; /* Ingen kant */
  color: white; /* Hvid tekstfarve */
  padding: 15px 32px; /* Indvendig polstring */
  text-align: center; /* Centreret tekst */
  text-decoration: none; /* Ingen understregning */
  display: inline-block; /* Vis som inline-blok */
  font-size: 16px; /* Tekststørrelse */
  margin: 4px 2px; /* Margin */
  cursor: pointer; /* Cursor type */
  border-radius: 10px; /* Afrundede kanter */
}

body {
  background-color: #503f04;
  margin: 0; /*kanppens opsætning på venstre hjornet i topen */
}

canvas {
  display: block;
  margin: 0 auto; /* centrer vores canvas */
  border: 12px solid #7a6311; /* Tilføjer en kant rundt om lærredet*/
}